/* XL Device :1200px. */

@media (min-width: 1449px) and (max-width: 1570px) {
    .edit__profile__bottom__btn {
        gap: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1449px) {
    .ctegorie__search__area {
        flex-direction: column;
    }

    .create__content__wrap {
        padding-right: 12px;
        padding-top: 0;
    }

    .hero__area {
        padding-top: 150px;
        min-height: 720px;
    }

    .hero__content__blk h1 {
        font-size: 70px;
    }

    .hero__content__blk p {
        font-size: 25px;
    }

    .inspir__area {
        padding: 80px 0;
    }

    .section__title h3 {
        font-size: 32px;
    }

    .discover__btn a {
        font-size: 16px;
    }

    .sport__title {
        margin-bottom: 30px;
    }

    .exceptional__card__blk {
        margin-top: -100px;
    }

    .exceptional__shape_1 img {
        height: 150px;
    }

    .appreciate__shape__2 img {
        height: 150px;
    }

    .event__shape__1 img {
        height: 200px;
    }

    .event__shape__2 img {
        height: 200px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .event__shape__2 {
        bottom: -100px;
    }

    .newsletter__form h4 {
        font-size: 32px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .header__btn a span img {
        height: 16px;
    }

    .header__btn a {
        width: 150px;
        font-size: 13px;
        padding: 12px 10px;
    }

    .header__btn a span {
        flex: 0 0 auto;
    }

    .h__search__blk input {
        padding: 12px 17px;
        font-size: 12px;
    }

    .h__search__blk {
        width: 340px;
    }

    .main__menu ul li a {
        font-size: 14px;
    }

    .main__menu ul li {
        margin-left: 15px;
    }

    .header__logo a img {
        height: 21px;
    }

    .search__drop__thumb {
        height: 50px;
        width: 50px;
    }

    .search__drop__thumb img {
        border-radius: 6px;
    }

    .search__drop__content h5 {
        font-size: 13px;
    }

    .search__drop__content p {
        font-size: 12px;
        margin-top: 2px;
    }

    .search__drop__single__step {
        padding: 12px 0;
    }

    .search__drop__body {
        height: 374px;
    }

    .breadcrumb__inner__wrap {
        height: 300px;
    }

    .breadcrumb__inner__blk .copy-text input.text {
        font-size: 14px;
        width: 150px;
    }

    .heart__area>span {
        font-size: 14px;
    }

    .breadcrumb__inner__blk .copy-text {
        padding: 6px 10px;
        gap: 10px;
    }

    .heart__area {
        border-radius: 61px;
        padding: 9px 15px;
        gap: 10px;
    }

    .edit__breadcrumb a {
        border-radius: 61px;
        padding: 8px 14px;
        gap: 10px;
        font-size: 14px;
    }

    .about__thumb {
        height: 240px;
    }

    .about__item__text p span {
        font-size: 14px;
    }

    .about__social__blk {
        border-radius: 13px;
        padding: 16px;
        margin-top: 30px;
    }

    .about__item__text p {
        font-size: 14px;
        padding: 16px;
    }

    .about__content h4 {
        font-size: 20px;
        margin-top: 16px;
    }

    .edit__breadcrumb a img {
        height: 21px;
    }

    .con-like {
        width: 20px;
        height: 20px;
    }

    .connected_left_text span {
        font-size: 13px;
    }

    .connected_left_text h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .edit__profile__inner__title h5 {
        font-size: 18px;
    }

    .add_new a {
        font-size: 16px;
        gap: 7px;
    }

    .edit__profile__title h4 {
        font-size: 28px;
    }

    .connected_compas>span {
        height: 45px;
        width: 45px;
        margin-right: 10px;
    }

    .edit__profile__bottom__btn {
        padding: 35px 0;
        gap: 10px;
    }

    .single__edit__profile__step input {
        font-size: 12px;
        padding: 15px 26px;
        padding-right: 40px;
    }

    .upload__file {
        min-height: 340px;
        border-radius: 20px;
        border: 1px dashed #3A3A3A;
    }

    .connected__top__blk {
        border-radius: 12px;
        border: 2px dashed #3A3A3A;
        padding: 10px 15px;
        margin-top: 30px;
    }

    .connected__bottom__btn a {
        font-size: 18px;
        padding: 14px 71px;
    }
}


/* LG Device :992px. */

@media (min-width: 992px) and (max-width: 1200px) {

    .none__phone {
        display: none;
    }

    .none__desk {
        display: block;
    }


    .hero__area {
        padding-top: 150px;
        min-height: 720px;
    }

    .hero__content__blk h1 {
        font-size: 70px;
    }

    .hero__content__blk p {
        font-size: 25px;
    }

    .inspir__area {
        padding: 80px 0;
    }

    .section__title h3 {
        font-size: 32px;
    }

    .create__content__wrap {
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .discover__btn a {
        font-size: 16px;
    }

    .sport__title {
        margin-bottom: 30px;
    }

    .exceptional__card__blk {
        margin-top: -100px;
    }

    .exceptional__shape_1 img {
        height: 150px;
    }

    .appreciate__shape__2 img {
        height: 150px;
    }

    .event__shape__1 img {
        height: 200px;
    }

    .event__shape__2 img {
        height: 200px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .event__shape__2 {
        bottom: -100px;
    }

    .newsletter__form h4 {
        font-size: 32px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .header__btn a span img {
        height: 16px;
    }

    .header__btn a {
        width: 150px;
        font-size: 13px;
        padding: 12px 10px;
    }

    .header__btn a span {
        flex: 0 0 auto;
    }

    .h__search__blk input {
        padding: 12px 17px;
        font-size: 12px;
    }

    .h__search__blk {
        width: 100%;
        background: #10100F;
    }

    .header__search {
        margin: 0;
        margin-bottom: 35px;
    }

    .main__menu ul li a {
        font-size: 14px;
    }

    .nft__thumb__area .col-2 {
        width: 25%;
    }

    .nft__header__btn {
        margin: 0;
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
    }

    .main__menu ul li {
        margin-left: 15px;
    }

    .header__logo a img {
        height: 21px;
    }

    .search__drop__thumb {
        height: 44px;
        width: 44px;
    }

    .search__drop__thumb img {
        border-radius: 6px;
    }

    .search__drop__content h5 {
        font-size: 13px;
    }

    .search__drop__content p {
        font-size: 12px;
        margin-top: 2px;
    }

    .search__drop__single__step {
        padding: 12px 0;
    }

    .search__drop__body {
        height: 374px;
    }

    .breadcrumb__inner__wrap {
        height: 300px;
    }

    .breadcrumb__inner__blk .copy-text input.text {
        font-size: 14px;
        width: 150px;
    }

    .heart__area>span {
        font-size: 14px;
    }

    .breadcrumb__inner__blk .copy-text {
        padding: 6px 10px;
        gap: 10px;
    }

    .heart__area {
        border-radius: 61px;
        padding: 9px 15px;
        gap: 10px;
    }

    .edit__breadcrumb a {
        border-radius: 61px;
        padding: 8px 14px;
        gap: 10px;
        font-size: 14px;
    }

    .about__thumb {
        height: 240px;
    }

    .about__item__text p span {
        font-size: 14px;
    }

    .about__social__blk {
        border-radius: 13px;
        padding: 16px;
        margin-top: 30px;
    }

    .about__item__text p {
        font-size: 14px;
        padding: 16px;
    }

    .about__content h4 {
        font-size: 20px;
        margin-top: 16px;
    }

    .edit__breadcrumb a img {
        height: 21px;
    }

    .con-like {
        width: 20px;
        height: 20px;
    }

    .search__dropdown {
        background: #10100F;
    }

    .search__dropdown .nav-tabs button {
        font-size: 11px;
        padding: 9px 10px;
    }

    .mobile__menu.active {
        left: 0;
    }

    .overlay.active {
        left: 0;
    }

    .single__inspire__thumb {
        height: 400px;
    }

    .sidebar__area {
        left: -100%;
        padding-top: 50px;
        background: #1a1a1a;
        max-height: 100%;
        overflow-y: scroll;
    }

    .profile__wrapper {
        padding: 0 12px;
    }

    .curation__content h5 {
        font-size: 16px;
    }

    .single__curation__categorie p {
        font-size: 14px;
    }

    .single__curation__categorie h6 {
        font-size: 14px;
    }

    .open__sidebar {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    .close__sidebar {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    .sidebar__area.active {
        left: 0;
    }

    .dashboard__table .table td {
        padding: 12px 8px;
        font-size: 12px;
        line-height: 160%;
    }

    .dashboard__table .table th {
        padding: 15px 8px;
        font-size: 13px;
    }

    .connected_left_text span {
        font-size: 13px;
    }

    .connected_left_text h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .edit__profile__inner__title h5 {
        font-size: 18px;
    }

    .add_new a {
        font-size: 16px;
        gap: 7px;
    }

    .edit__profile__title h4 {
        font-size: 28px;
    }

    .connected_compas>span {
        height: 45px;
        width: 45px;
        margin-right: 10px;
    }

    .edit__profile__bottom__btn {
        padding: 35px 0;
        gap: 10px;
    }

    .single__edit__profile__step input {
        font-size: 12px;
        padding: 15px 26px;
        padding-right: 40px;
    }

    .upload__file {
        min-height: 340px;
        border-radius: 20px;
        border: 1px dashed #3A3A3A;
    }

    .connected__top__blk {
        border-radius: 12px;
        border: 2px dashed #3A3A3A;
        padding: 10px 15px;
        margin-top: 30px;
    }

    .connected__bottom__btn a {
        font-size: 18px;
        padding: 14px 71px;
    }

    .add_input_btn {
        font-size: 14px;
        padding: 9px 16px;
    }
}


/* MD Device :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .none__phone {
        display: none;
    }

    .nft__thumb__area .col-2 {
        width: 33.33%;
    }

    .nft__header__btn {
        margin: 0;
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
    }

    .dashboard__table .table td {
        padding: 12px 8px;
        font-size: 12px;
        line-height: 160%;
    }

    .add_input_btn {
        font-size: 14px;
        padding: 9px 16px;
    }

    .dashboard__table .table th {
        padding: 15px 8px;
        font-size: 13px;
    }

    .none__desk {
        display: block;
    }

    .mobile__menu.active {
        left: 0;
    }

    .overlay.active {
        left: 0;
    }

    .header__area {
        padding: 10px 0;
    }

    .none__phone {
        display: none;
    }

    .none__desk {
        display: block;
    }


    .hero__area {
        padding-top: 100px;
        min-height: 618px;
    }

    .hero__content__blk h1 {
        font-size: 53px;
    }

    .hero__content__blk p {
        font-size: 20px;
    }

    .inspir__area {
        padding: 60px 0;
    }

    .section__title h3 {
        font-size: 32px;
    }

    .discover__btn a {
        font-size: 16px;
    }

    .sport__title {
        margin-bottom: 30px;
    }

    .exceptional__card__blk {
        margin-top: -100px;
    }

    .exceptional__shape_1 img {
        height: 150px;
    }

    .appreciate__shape__2 img {
        height: 150px;
    }

    .event__shape__1 img {
        height: 200px;
    }

    .event__shape__2 img {
        height: 200px;
    }

    .create__content__wrap {
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .event__shape__2 {
        bottom: -100px;
    }

    .newsletter__form h4 {
        font-size: 29px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .header__btn a span img {
        height: 16px;
    }

    .header__btn a {
        width: 150px;
        font-size: 13px;
        padding: 12px 10px;
    }

    .header__btn a span {
        flex: 0 0 auto;
    }

    .h__search__blk input {
        padding: 12px 17px;
        font-size: 12px;
    }

    .h__search__blk {
        width: 100%;
        background: #10100F;
    }

    .header__search {
        margin: 0;
        margin-bottom: 35px;
    }

    .main__menu ul li a {
        font-size: 14px;
    }

    .main__menu ul li {
        margin-left: 15px;
    }

    .header__logo a img {
        height: 21px;
    }

    .search__drop__thumb {
        height: 44px;
        width: 44px;
    }

    .search__drop__thumb img {
        border-radius: 6px;
    }

    .search__drop__content h5 {
        font-size: 13px;
    }

    .search__drop__content p {
        font-size: 12px;
        margin-top: 2px;
    }

    .search__drop__single__step {
        padding: 12px 0;
    }

    .search__drop__body {
        height: 276px;
    }

    .breadcrumb__inner__wrap {
        height: 300px;
    }

    .breadcrumb__inner__blk .copy-text input.text {
        font-size: 14px;
        width: 150px;
    }

    .heart__area>span {
        font-size: 14px;
    }

    .breadcrumb__inner__blk .copy-text {
        padding: 6px 10px;
        gap: 10px;
    }

    .heart__area {
        border-radius: 61px;
        padding: 9px 15px;
        gap: 10px;
    }

    .edit__breadcrumb a {
        border-radius: 61px;
        padding: 8px 14px;
        gap: 10px;
        font-size: 14px;
    }

    .about__thumb {
        height: 240px;
    }

    .about__item__text p span {
        font-size: 14px;
    }

    .about__social__blk {
        border-radius: 13px;
        padding: 16px;
        margin-top: 30px;
    }

    .about__item__text p {
        font-size: 14px;
        padding: 16px;
    }

    .about__content h4 {
        font-size: 20px;
        margin-top: 16px;
    }

    .edit__breadcrumb a img {
        height: 21px;
    }

    .con-like {
        width: 20px;
        height: 20px;
    }

    .search__dropdown {
        background: #10100F;
    }

    .search__dropdown .nav-tabs button {
        font-size: 11px;
        padding: 9px 10px;
    }

    .mobile__menu.active {
        left: 0;
    }

    .overlay.active {
        left: 0;
    }

    .single__inspire__thumb {
        height: 400px;
    }

    .sidebar__area {
        left: -100%;
        padding-top: 50px;
        width: 320px;
        background: #1a1a1a;
        max-height: 100%;
        overflow-y: scroll;
    }

    .profile__wrapper {
        padding: 0 12px;
    }

    .curation__content h5 {
        font-size: 16px;
    }

    .single__curation__categorie p {
        font-size: 14px;
    }

    .single__curation__categorie h6 {
        font-size: 14px;
    }

    .open__sidebar {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    .close__sidebar {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    .sidebar__area.active {
        left: 0;
    }

    .newsletter__form input {
        font-size: 14px;
        padding: 14px 15px;
        padding-left: 40px;
        width: 310px;
    }

    .newsletter__form form button {
        font-size: 14px;
        padding: 11px 20px;
        width: 153px;
    }

    .newsletter__form form a {
        left: 10px;
        top: 9px;
    }

    .newsletter__area {
        padding-top: 60px;
    }

    .footer__area {
        padding-top: 60px;
    }

    .single__footer__list {
        margin-left: 0;
    }

    .single__footer__list h4 {
        text-align: left;
    }

    .newsletter__form form {
        gap: 16px;
        max-width: 480px;
        margin-top: 30px;
    }

    .phone__none {
        display: none;
    }

    .desk__none {
        display: block;
    }

    .profile__search {
        padding: 0 12px;
        margin-top: 20px;
    }

    .profile__search input {
        font-size: 11px;
        padding: 14px 15px;
        padding-right: 20px;
    }

    .profile__search button {
        top: 11px;
        right: 21px;
        font-size: 14px;
    }

    .single_upload__btn label {
        width: 96%;
    }

    .profile__header {
        justify-content: space-between;
        position: relative;
        padding: 15px 0;
    }

    .profile__bell__area {
        position: absolute;
        right: 155px;
    }

    .categorie__btn a {
        font-size: 13px;
    }

    .categorie__btn {
        gap: 12px;
    }

    .about__area {
        padding: 40px 0;
    }

    .ctegorie__search__area .profile__search {
        padding: 0;
        margin: 0;
    }

    .table__inner__btn a {
        font-size: 13px;
        border-radius: 20px;
        width: 148px;
    }

    .dashboard__table__wrapper table {
        width: 768px;
    }

    .dashboard__table__wrapper .dashboard__table {
        overflow-x: scroll;
    }

    .connected_left_text span {
        font-size: 13px;
    }

    .connected_left_text h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .edit__profile__inner__title h5 {
        font-size: 18px;
    }

    .add_new a {
        font-size: 16px;
        gap: 7px;
    }

    .edit__profile__title h4 {
        font-size: 24px;
    }

    .connected_compas>span {
        height: 45px;
        width: 45px;
        margin-right: 10px;
    }

    .edit__profile__bottom__btn {
        padding: 35px 0;
        gap: 10px;
    }

    .single__edit__profile__step input {
        font-size: 12px;
        padding: 15px 26px;
        padding-right: 40px;
    }

    .upload__file {
        min-height: 340px;
        border-radius: 20px;
        border: 1px dashed #3A3A3A;
    }

    .connected__top__blk {
        border-radius: 12px;
        border: 2px dashed #3A3A3A;
        padding: 10px 15px;
        margin-top: 30px;
    }

    .connected__bottom__btn a {
        font-size: 18px;
        padding: 14px 71px;
    }

    .add_input_btn {
        font-size: 14px;
        padding: 9px 16px;
    }

    .single__create__step {
        font-size: 14px;
    }

    .single__create__step small {
        height: 24px;
        width: 24px;
        font-size: 12px;
    }

    .nft__switch__text p {
        font-size: 12px;
        margin: 0;
    }

    .profile__bell__area span {
        width: 45px;
        height: 45px;
    }

    .nft__single__option a h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .nft__single__option a p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .nft__single__option a span img {
        height: 20px;
    }

    .ctegorie__search__area {
        flex-direction: column;
    }


    .popup__common__title h4 {
        font-size: 20px;
    }

    .popup__common__title p {
        font-size: 12px;
        line-height: 160%;
    }

    .popup_common_btn_1 {
        border-radius: 14px;
        padding: 16px 10px;
        font-size: 13px;
        height: 48px;
    }

    .popup_common_btn_2 {
        font-size: 13px;
        height: 48px;
    }

    .popup__similar__btn {
        margin-top: 30px;
        gap: 15px;
    }

    .popup__alart p {
        font-size: 12px;
    }

    .single__popup__input input {
        font-size: 12px;
        padding: 11px 15px;
        padding-left: 40px;
        border-radius: 8px;
    }

    .popup_left_position_btn img {
        height: 18px;
    }

    .popup_left_position_btn {
        top: 6px;
    }

    .congrats__img img {
        height: 57px;
    }

    .common__popup__blk .modal-dialog {
        max-width: 320px;
    }

    .similar__site__popup {
        padding: 12px;
    }

    .attachment__card__blk .col-2 {
        width: 33.33%;
    }

    .attachment__content a {
        margin-top: 5px;
        font-size: 12px;
        margin-bottom: 15px;
    }
}


/* SM Small Device :320px. */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .none__phone {
        display: none;
    }

    .nft__thumb__area .col-2 {
        width: 50%;
    }

    .nft__profile__thumb {
        height: 32px;
        width: 32px;
    }

    .edit__profilfile__inner__top__blk .add_new {
        top: -16px;
        right: -2px;
    }

    .order__cancellation p {
        font-size: 11px;
    }

    .similar__site__popup .close_center {
        top: 10px;
        right: 10px;
    }

    .description__content p {
        font-size: 12px;
    }

    .nft__profile__activities__btn a {
        font-size: 12px;
    }

    .current__price__blk {
        flex-direction: column;
    }

    .current__price__title {
        text-align: center;
    }

    .current__price__text h4 {
        font-size: 26px;
    }

    .theme__title h4 {
        font-size: 24px;
    }

    .single__nft__profile a {
        gap: 8px;
    }

    .nft__profile__text p {
        font-size: 10px;
    }

    .nft__profile__text h6 {
        font-size: 11px;
    }

    .nft__header__btn {
        margin: 0;
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
    }

    .attachment__card__blk .col-2 {
        width: 50%;
    }

    .popup__common__title h5 {
        font-size: 16px;
    }

    .learn_more_popup a {
        font-size: 16px;
    }

    .popup__progress__list {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .popup__progress__ico img {
        height: 46px;
        width: 46px;
    }

    .popup__progress__ico {
        flex: 0 0 auto;
    }

    .single__popup__progress__list a {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .popup__progress__text h5 {
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 3px;
    }

    .popup__progress__text p {
        margin: 0;
        color: rgba(255, 255, 255, 0.53);
        font-family: Azeret Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    .connected__bottom__btn {
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
    }

    .dashboard__table__wrapper table {
        width: 768px;
    }

    .dashboard__table__wrapper .dashboard__table {
        overflow-x: scroll;
    }

    .none__desk {
        display: block;
    }

    .mobile__menu.active {
        left: 0;
    }

    .overlay.active {
        left: 0;
    }

    .header__area {
        padding: 10px 0;
    }

    .none__phone {
        display: none;
    }

    .none__desk {
        display: block;
    }

    .mobile__menu.active {
        left: 0;
    }

    .overlay.active {
        left: 0;
    }

    .header__area {
        padding: 10px 0;
    }

    .none__phone {
        display: none;
    }

    .none__desk {
        display: block;
    }

    .create__content__wrap {
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hero__area {
        padding-top: 56px;
        min-height: 480px;
        padding-bottom: 50px;
    }

    .hero__content__blk h1 {
        font-size: 40px;
    }

    .hero__content__blk p {
        font-size: 16px;
        line-height: 28px;
    }

    .inspir__area {
        padding: 40px 0;
    }

    .section__title h3 {
        font-size: 28px;
    }

    .discover__btn a {
        font-size: 16px;
    }

    .sport__title {
        margin-bottom: 30px;
    }

    .exceptional__card__blk {
        margin-top: -100px;
    }

    .exceptional__shape_1 img {
        height: 150px;
    }

    .appreciate__shape__2 img {
        height: 150px;
    }

    .event__shape__1 img {
        height: 200px;
    }

    .event__shape__2 img {
        height: 200px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .event__shape__2 {
        bottom: -100px;
    }

    .newsletter__form h4 {
        font-size: 22px;
    }

    .inspir__btn {
        padding-top: 50px;
    }

    .header__btn a span img {
        height: 16px;
    }

    .header__btn a {
        width: 150px;
        font-size: 13px;
        padding: 12px 10px;
    }

    .header__btn a span {
        flex: 0 0 auto;
    }

    .h__search__blk input {
        padding: 12px 17px;
        font-size: 12px;
    }

    .h__search__blk {
        width: 100%;
        background: #10100F;
    }

    .header__search {
        margin: 0;
        margin-bottom: 35px;
    }

    .main__menu ul li a {
        font-size: 14px;
    }

    .single__nft__thumb {
        height: 200px;
    }

    .over__view__flex {
        flex-direction: column;
    }

    .overview__right__blk {
        width: 100%;
    }

    .main__menu ul li {
        margin-left: 15px;
    }

    .header__logo a img {
        height: 21px;
    }

    .search__drop__thumb {
        height: 44px;
        width: 44px;
    }

    .search__drop__thumb img {
        border-radius: 6px;
    }

    .search__drop__content h5 {
        font-size: 13px;
    }

    .search__drop__content p {
        font-size: 12px;
        margin-top: 2px;
    }

    .search__drop__single__step {
        padding: 12px 0;
    }

    .search__drop__body {
        height: 276px;
    }

    .breadcrumb__inner__wrap {
        height: 300px;
        align-items: center;
    }

    .breadcrumb__inner__blk .copy-text input.text {
        font-size: 14px;
        width: 150px;
    }

    .heart__area>span {
        font-size: 14px;
    }

    .breadcrumb__inner__blk .copy-text {
        padding: 6px 10px;
        gap: 10px;
    }

    .heart__area {
        border-radius: 61px;
        padding: 9px 15px;
        gap: 10px;
    }

    .edit__breadcrumb a {
        border-radius: 61px;
        padding: 8px 14px;
        gap: 10px;
        font-size: 14px;
    }

    .about__thumb {
        height: 240px;
    }

    .about__item__text p span {
        font-size: 14px;
    }

    .about__social__blk {
        border-radius: 13px;
        padding: 16px;
        margin-top: 30px;
    }

    .about__item__text p {
        font-size: 14px;
        padding: 16px;
    }

    .about__content h4 {
        font-size: 20px;
        margin-top: 16px;
    }

    .edit__breadcrumb a img {
        height: 21px;
    }

    .con-like {
        width: 20px;
        height: 20px;
    }

    .search__dropdown {
        background: #10100F;
    }

    .search__dropdown .nav-tabs button {
        font-size: 11px;
        padding: 9px 10px;
    }

    .mobile__menu.active {
        left: 0;
    }

    .overlay.active {
        left: 0;
    }

    .single__inspire__thumb {
        height: 400px;
    }

    .sidebar__area {
        left: -100%;
        padding-top: 50px;
        width: 320px;
        background: #1a1a1a;
        max-height: 100%;
        overflow-y: scroll;
    }

    .profile__wrapper {
        padding: 0 12px;
    }

    .curation__content h5 {
        font-size: 16px;
    }

    .single__curation__categorie p {
        font-size: 14px;
    }

    .single__curation__categorie h6 {
        font-size: 14px;
    }

    .open__sidebar {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    .close__sidebar {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    .sidebar__area.active {
        left: 0;
    }

    .newsletter__form input {
        font-size: 14px;
        padding: 14px 15px;
        padding-left: 40px;
        width: 310px;
    }

    .newsletter__form form button {
        font-size: 14px;
        padding: 11px 20px;
        width: 153px;
    }

    .newsletter__form form a {
        left: 5px;
        top: 9px;
    }

    .newsletter__area {
        padding-top: 60px;
    }

    .footer__area {
        padding-top: 60px;
    }

    .single__footer__list {
        margin-left: 0;
    }

    .single__footer__list h4 {
        text-align: left;
    }

    .newsletter__form form {
        gap: 16px;
        max-width: 305px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .phone__none {
        display: none;
    }

    .desk__none {
        display: block;
    }

    .profile__search {
        padding: 0 12px;
        margin-top: 20px;
    }

    .profile__search input {
        font-size: 11px;
        padding: 14px 15px;
        padding-right: 20px;
    }

    .profile__search button {
        top: 11px;
        right: 21px;
        font-size: 14px;
    }

    .single_upload__btn label {
        width: 96%;
    }

    .profile__header {
        justify-content: space-between;
        position: relative;
        padding: 15px 0;
    }

    .profile__bell__area {
        position: absolute;
        right: 139px;
    }

    .profile__dropdown__inner h4 {
        font-size: 12px;
    }

    .profile__bell__area span {
        height: 40px;
        width: 40px;
    }

    .profile__bell__area span img {
        height: 20px;
    }

    .categorie__btn a {
        font-size: 13px;
    }

    .categorie__btn {
        gap: 12px;
    }

    .about__area {
        padding: 40px 0;
    }

    .sport__area {
        padding-bottom: 60px;
        padding-top: 0;
    }

    .exceptional__content h4 {
        font-size: 22px;
    }

    .exceptional__area {
        padding-bottom: 50px;
    }

    .appreciate__area {
        padding-bottom: 50px;
    }

    .section__title {
        margin-bottom: 30px;
    }

    .news__thumb p {
        font-size: 12px;
        padding: 10px;
        padding-bottom: 0;
    }

    .footer__menu ul li a {
        font-size: 14px;
    }

    .newsltter__inner__blk {
        padding: 15px;
    }

    .footer__bottom__text {
        gap: 10px;
    }

    .footer__privacy__text a {
        font-size: 12px;
    }

    .footer__bottom__text p {
        font-size: 12px;
    }

    .footer__menu ul {
        gap: 8px;
    }

    .footer__bottom__blk {
        padding: 25px 0;
        margin-top: 25px;
    }

    .hero__inner__blk .owl-dots {
        bottom: -150px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .section__title p {
        font-size: 14px;
    }

    .inspir__shape__1 {
        display: none;
    }

    .inspir__shape__2 {
        display: none;
    }

    .inspir__shape__3 {
        display: none;
    }

    .inspir__shape__4 {
        display: none;
    }

    .ctegorie__search__area {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .ctegorie__search__area .profile__search {
        padding: 0;
    }

    .categorie__dropdown .nice-select {
        font-size: 13px;
        height: 47px;
    }

    .single__create__card {
        flex-direction: column;
    }

    .create__content__blk>a {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
    }

    .create__content h4 {
        font-size: 18px;
    }

    .create__content p {
        font-size: 12px;
    }

    ion-icon {
        height: 22px;
        width: 22px;
    }

    .breadcrumb__inner__blk {
        justify-content: center;
    }

    .profile__social__ico {
        position: unset;
        justify-content: center;
    }

    .inner__profile__blk .profile__social__ico {
        margin-top: 30px;
    }

    .inner__profile__thumb {
        height: 100px;
        width: 100px;
    }

    .profile__content h5 {
        font-size: 20px;
        margin: 12px 0;
        margin-bottom: 0;
    }

    .profile__follow__btn a {
        font-size: 13px;
        padding: 10px 20px;
    }

    .profile__follow__btn {
        margin-top: 15px;
    }

    .followers__content {
        margin-top: 15px;
    }

    .followers__content p {
        font-size: 15px;
    }

    .ctegorie__search__area .profile__search {
        padding: 0;
        margin: 0;
    }

    .dashboard__table .table td {
        padding: 12px 8px;
        font-size: 12px;
        line-height: 160%;
    }

    .dashboard__table .table th {
        padding: 15px 8px;
        font-size: 13px;
    }

    .table__inner__btn a {
        font-size: 13px;
        border-radius: 20px;
        width: 148px;
    }

    .connected_left_text span {
        font-size: 11px;
    }

    .connected_left_text h5 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .edit__profile__inner__title h5 {
        font-size: 18px;
    }

    .add_new a {
        font-size: 13px;
        gap: 7px;
    }

    .edit__profile__title h4 {
        font-size: 20px;
        margin-top: 20px;
    }

    .connected_compas>span {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    .edit__profile__bottom__btn {
        padding: 25px 0;
        gap: 10px;
    }

    .edit__profile__bottom__btn a {
        width: 100%;
        padding: 13px;
        height: 42px;
        font-size: 14px;
    }

    .single__edit__profile__step input {
        font-size: 12px;
        padding: 15px 16px;
        padding-right: 40px;
    }

    .upload__file {
        min-height: 340px;
        border-radius: 20px;
        border: 1px dashed #3A3A3A;
    }

    .connected__top__blk {
        border-radius: 12px;
        border: 2px dashed #3A3A3A;
        padding: 10px 15px;
        margin-top: 30px;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }

    .connected__right__blk {
        width: 100%;
        justify-content: space-between;
    }

    .connected__bottom__btn a {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .add_input_btn {
        font-size: 14px;
        padding: 9px 16px;
    }

    .connected__right__blk a {
        font-size: 12px;
        padding: 10px 12px;
    }

    .single__create__step {
        font-size: 14px;
    }

    .delete_btn img {
        height: 20px;
    }

    #custom-button {
        padding: 8px;
        width: 123px;
        font-size: 14px;
        gap: 10px;
    }

    .ntf__flex__input__wrap {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .nft__single__option a h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .nft__single__option a p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .nft__single__option a span img {
        height: 20px;
    }

    .width_430 {
        width: 100%;
    }

    .width_245 {
        width: 100%;
    }

    .create__step__blk {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .create__step__blk>span {
        transform: rotate(90deg);
        margin-left: 8px;
    }

    .nft__file__upload .add_new a {
        display: none;
    }

    .add_new a img {
        height: 18px;
    }

    .single__edit__profile__step textarea {
        font-size: 12px;
    }

    .single__create__step small {
        height: 24px;
        width: 24px;
        font-size: 12px;
    }

    .nft__switch__text p {
        font-size: 12px;
        margin: 0;
    }

    .profile__bell__area span {
        width: 45px;
        height: 45px;
    }

    .flex__filter {
        flex-wrap: wrap;
    }

    .nft_explore_filter>span {
        bottom: 13px;
        left: 10px;
    }

    .profile__dropdown__list ul li a {
        font-size: 12px;
        padding: 10px 0;
    }

    .ethereum__thumb img {
        height: 32px;
    }

    .ethereum__text h4 {
        font-size: 12px;
    }

    .ethereum__text p {
        font-size: 13px;
    }

    .ethereum__thumb {
        position: relative;
        top: 2px;
    }

    .ethereum__btn a img {
        height: 16px;
    }

    .ethereum__btn a {
        height: 36px;
        width: 36px;
    }

    .ethereum__price h4 {
        font-size: 12px;
        gap: 6px;
    }

    .ethereum__price {
        border-radius: 15px;
        padding: 5px 10px;
    }

    .profile__list__inner__language .nice-select {
        font-size: 12px;
        padding: 0 10px;
        width: 100px;
    }

    .profile__dropdown__wrapper {
        padding: 20px 10px;
        width: 280px;
        border-radius: 5px;
    }




    .popup__common__title h4 {
        font-size: 20px;
    }

    .popup__common__title h4 span {
        height: 30px;
        width: 30px;
        display: inline-block;
    }

    .popup__common__title p {
        font-size: 12px;
        line-height: 160%;
    }

    .popup_common_btn_1 {
        border-radius: 14px;
        padding: 16px 10px;
        font-size: 13px;
        height: 48px;
    }

    .popup_common_btn_2 {
        font-size: 13px;
        height: 48px;
    }

    .popup__similar__btn {
        margin-top: 30px;
        gap: 15px;
    }

    .popup__alart p {
        font-size: 12px;
    }

    .single__popup__input input {
        font-size: 12px;
        padding: 11px 15px;
        padding-left: 40px;
        border-radius: 8px;
    }

    .popup_left_position_btn img {
        height: 18px;
    }

    .popup_left_position_btn {
        top: 6px;
    }

    .congrats__img img {
        height: 57px;
    }

    .common__popup__blk .modal-dialog {
        max-width: 320px;
        margin: 0 auto;
    }

    .similar__site__popup {
        padding: 12px;
    }

    .similar__site__popup .attachment__thumb {
        height: 140px;
    }

    .similar__site__popup .attachment_upload_thumb .imageWrapper {
        height: 140px;
    }

    .attachment__content a {
        margin-top: 5px;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .codeplay-ck .container-ck p {
        top: 1px;
        font-size: 12px;
    }
}


/* SM Small Device :550px. */

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .attachment__card__blk .col-2 {
        width: 33.33%;
    }

    .nft__thumb__area .col-2 {
        width: 33.33%;
    }
}

/* SM Small Device :550px. */

@media only screen and (min-width: 320px) and (max-width: 575px) {
    .edit__profile__bottom__btn {
        flex-direction: column;
    }
}